@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all .3s ease;
}

:root {
    --main-white: #fff;
    --main-dark: #000;
    --main-gray: #333;
    --main-light-gray: #a9afb3;
    --main-purple: #8d4fdb;
}

.container {
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 1%;
}

body {
    background-image: url('../Image/Main-BG.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-dark);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw !important;
    height: 80px;
    background: var(--main-purple);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.nav_link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-white);
}

.toggleMenu {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggleMenu span {
    width: 30px;
    height: 3px;
    background: var(--main-white);
    margin: 5px 0;
    border-radius: 8px;
}