* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    color: white;
}

/* .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
} */

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.location,
.temperature {
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.degree_section span {
    font-size: 30px;
}

.degree_section h2 {
    font-size: 40px;
}