@font-face {
    font-family: 'Reospec';
    src: url('../font/Reospec.otf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .3s ease;
    font-family: 'Reospec';
}

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    color: #fbfcff;
    font-size: 72px;
    background: #19323c;

}