* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .3s ease;
    background: #333;
}

/* a {
    color: black;
}

.container {
    max-width: 1400px;
    padding: 0 1%;
    margin: 0 auto;
}

.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.toggleMenu {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggleMenu span {
    width: 20px;
    height: 2px;
    background: black !important;
    margin: 3px;
}

.menu.active {
    left: 0;
}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 700px) {
    .menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: -100%;
    }

    .menu li {
        margin: 10px 0;
    }

    .toggleMenu {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }   

    .toggle_menu span {
        width: 20px;
        height: 2px;
        display: block;
        0
        background: black !important;
        margin: 3px;
    }
} */