* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    font-family: monospace;
    outline: none;
    transition: all .3s ease;
}

.container {
    max-width: 1400px;
    padding: 0 1%;
    margin: 0 auto;
}

/* .wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background: #1abe84;
}

.box {
    width: 60%;
    height: 100vh;
    background: #1ac;
    overflow-y: auto;
} */

input,
button {
    border: 1px solid #000;
}

.form_control {
    padding: 10px;
    color: #000;
    font-size: 18px;
}

.data {
    width: 200px;
    height: 200px;
    border: 1px solid #232323;
}