* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    font-family: monospace;
}

.container {
    max-width: 1400px;
    padding: 2% 2%;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 40vh;
    background: #1ace;
    color: #123;
    font-size: 20px;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    padding: 15px 20px;
    background: transparent;
    border: 1px solid #123;
    cursor: pointer;
}