@media screen and (max-width: 1100px) {}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 900px) {
    .section_first_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section_first_left {
        width: 100%;
    }

    .section_first_right {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .menu {
        gap: 15px;
    }

    .log_in_item-reg_wrapper {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .menu {
        position: absolute;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100vh;
        background: var(--color-black);
        color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
    }

    .burger {
        display: block;
        z-index: 9999;
    }

    .burger_bars {
        position: relative;
        font-size: 24px;
        color: var(--color-orange);
        z-index: 9999;
    }

    .burger_bars.active {
        color: var(--color-white);
    }

    .menu.active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--color-black);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }

    .nav_item {
        margin: 20px 0;
    }

    .menu .nav_item a {
        color: var(--color-white) !important;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        /* Font-size */
        --size-big-heading: 34px;
        --size-big: 18px;
        --size-small-heading: 24px;
        --size-content: 12px;
        --size-small: 16px;
    }
}

@media screen and (max-width: 500px) {
    .section_first_btn {
        padding: 15px 30px;
        font-size: var(--size-small);
        font-family: var(--font-main);
        background: var(--color-orange);
        color: var(--color-white);
        border-radius: 35px;
        cursor: pointer;
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .section_first_heading i {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .section_first_btn {
        padding: 10px 20px;
        font-size: var(--size-small);
        font-family: var(--font-main);
        background: var(--color-orange);
        color: var(--color-white);
        border-radius: 35px;
        cursor: pointer;
        margin-top: 20px;
    }
}