@media screen and (max-width: 900px) {
    .section_first_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section_first_left {
        width: 100%;
    }

    .section_first_right {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .menu {
        gap: 15px;
    }

    .log_in_item-reg_wrapper {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .section_fifth_wrapper {
        padding: 20px;
    }


    .section_six_card_first_left {
        width: 30%;
    }

    .section_six_card_first_right {
        width: auto;
    }


    .section_six_card_second_left {
        width: 30%;
    }

    .section_six_card_second_right {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .menu {
        position: absolute;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100vh;
        background: var(--color-black);
        color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .burger {
        display: block;
        z-index: 9999;
    }

    .burger_bars {
        position: relative;
        font-size: 24px;
        color: var(--color-orange);
        z-index: 9999;
    }

    .burger_bars.active {
        color: var(--color-white);
    }

    .menu.active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--color-black);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }

    .nav_item {
        margin: 20px 0;
    }

    .menu .nav_item a {
        color: var(--color-white) !important;
        font-size: 18px;
    }

    .section_fifth_wrapper {
        padding: 10px;
    }

    .option {
        width: 33%;
        height: auto;
        padding: 5px;
        margin: 0 5px;
    }

    .section_six_card_first {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section_six_card_first_left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_six_card_first_left img {
        width: 75%;
    }

    .section_six_card_first_right {
        width: 100%;
        height: auto;
        padding: 30px 50px;
        background: var(--color-grey);
        border-radius: 50px;
    }

    .section_six_card_second {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .section_six_card_second_left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_six_card_second_left img {
        width: 75%;
    }

    .section_six_card_second_right {
        width: 100%;
        height: auto;
        padding: 30px 50px;
        border-radius: 50px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        /* Font-size */
        --size-big-heading: 28px;
        --size-big: 18px;
        --size-small-heading: 20px;
        --size-content: 12px;
        --size-small: 16px;
    }

    .section_first_content br {
        display: none;
    }

    .section_second_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 25px;
    }

    .section_second_left {
        display: none;
    }

    .section_second_right {
        width: 100%;
    }

    .tag_wrapper {
        width: 100%;
    }

    .section_second_tags {
        margin: 5px 0;
    }

    .section_fourth_video_wrapper {
        padding: 5em;
    }

    .section_fifth_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
    }

    .option {
        width: 100%;
        height: auto;
        padding: 10px;
        border-left: none;
        border-right: 1px solid var(--color-orange);
        margin: 5px 0px;
    }

    .footer_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer_ul_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .footer_ul {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .section_first_btn {
        padding: 15px 30px;
        font-size: var(--size-small);
        font-family: var(--font-main);
        background: var(--color-orange);
        color: var(--color-white);
        border-radius: 35px;
        cursor: pointer;
        margin-top: 20px;
    }

    .section_main_heading br {
        display: none;
    }

    .section_fourth_content br {
        display: none;
    }

    .card br {
        display: none;
    }

    .footer_privacy,
    .footer_privacy_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer_privacy_p {
        margin: 10px 0px;
    }
}

@media screen and (max-width: 400px) {
    .section_first_heading i {
        font-size: 20px;
    }

    .section_fourth_video_wrapper {
        padding: 2.5em;
    }

    .section_six_card_content br {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .footer_ul_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer_ul {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .section_first_btn {
        padding: 10px 20px;
        font-size: var(--size-small);
        font-family: var(--font-main);
        background: var(--color-orange);
        color: var(--color-white);
        border-radius: 35px;
        cursor: pointer;
        margin-top: 20px;
    }

    .option_content br {
        display: none;
    }

    .section_fifth_btn_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section_fifth_btn_content {
        padding: 5px;
    }

    .section_six_card_first_left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .section_six_card_first_left img {
        width: 100%;
    }

    .section_six_card_first_right {
        width: 100%;
        height: auto;
        padding: 20px 25px;
        background: var(--color-grey);
        border-radius: 20px;
    }

    .section_six_card_second_left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .section_six_card_second_left img {
        width: 100%;
    }

    .section_six_card_second_right {
        width: 100%;
        height: auto;
        padding: 20px 25px;
        background: var(--color-grey);
        border-radius: 20px;
    }
}