@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .2s ease;
    scroll-behavior: smooth;
    font-family: var(--font-main);
}

:root {
    /* Color */
    --color-orange: #F15525;
    --color-orange-alfa: #f1552580;
    --color-blue: #38BFF2;
    --color-black: #22253B;
    --color-white: #ffffff;
    --color-grey: #DEDEDE;

    /* Font-size */
    --size-big-heading: 46px;
    --size-big: 24px;
    --size-small-heading: 32px;
    --size-content: 13px;
    --size-small: 18px;

    /* Font-weight */
    --weight-default: 400;
    --weight-semi-bold: 600 !important;
    --weight-light: 300;

    /* Font-family */
    --font-main: 'Comfortaa', sans-serif;
}

body {
    position: relative;
}

.container {
    max-width: 1400px;
    padding: 0 1%;
    margin: 0 auto;
}

.scrolling_line {
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 5px;
    background: var(--color-orange);
    z-index: 99999999;
}

.blur {
    width: 100%;
    height: 100vh;
    background: #181818;
    z-index: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-white);
    padding: .5em .25em;
    z-index: 9999999;
}

header.active {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em .50em;
}

.logo {
    font-size: var(--size-small-heading);
    color: var(--color-black);
    font-weight: 600;
}

.logo span:first-child {
    color: var(--color-blue);
}

.logo span:last-child {
    color: var(--color-orange);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav_item a {
    font-size: var(--size-content);
    color: var(--color-black);
}

.nav_item a:hover {
    color: var(--color-orange);
}

.log_in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.log_in_item-reg {
    font-size: var(--size-content);
    color: var(--color-black);
}

.log_in_item-reg:hover {
    color: var(--color-orange);
}

.log_in_item-btn {
    padding: 10px 20px;
    font-size: var(--size-content);
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 35px;
    cursor: pointer;
}

.log_in_item-btn:hover {
    background: var(--color-orange);
}

.log_in_item-btn:active {
    transform: scale(0.9);
}

.burger {
    display: none;
}

.section_first_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.section_first_left {
    width: 55%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.section_first_heading {
    font-size: var(--size-big-heading);
    color: var(--color-black);
    font-weight: 700;
}

.section_first_heading span {
    color: var(--color-orange);
}

.line {
    width: 100%;
    height: 0.5px;
    background: var(--color-line) !important;
    margin: 25px 0;
}

.section_first_content {
    font-size: var(--size-content);
    color: var(--color-black);
    line-height: 28px;
}

.section_first_btn {
    padding: 20px 40px;
    font-size: var(--size-small);
    font-family: var(--font-main);
    background: var(--color-orange);
    color: var(--color-white);
    border-radius: 35px;
    cursor: pointer;
    margin-top: 20px;
}

.section_first_btn:hover {
    background: var(--color-blue);
}

.section_first_right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_section_right img {
    width: 75%;
    height: auto;
}

.scroll_arrow_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.arrow_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow_circle:active {
    transform: scale(0.9);
}

.arrow_circle_icon {
    width: 25px;
    height: auto;
    cursor: pointer;
    color: var(--color-white);
    margin: -10px 0;
}

.arrow_circle_icon_top {
    margin: 10px 0;
}

.arrow_circle_icon_top.active {
    margin: 0;
}

.section_main_heading {
    color: var(--color-black);
    font-size: var(--size-big-heading);
    text-align: center;
    margin: 100px 0 20px 0;
}

.section_second_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
    background: var(--color-grey);
    border-radius: 45px;
}

.section_second_left {
    width: 50%;
    height: auto;
}

.section_second_left img {
    width: 100%;
}

.section_second_right {
    width: 50%;
    height: auto;
}

.tag_wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.section_second_tags {
    margin: 15px 0;
    display: inline-block;
    color: var(--color-white);
    font-size: var(--size-content);
    padding: 1em;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    line-height: 18px;
}

.section_second_tags:active {
    transform: scale(.9);
}

.second_right_bottom {
    font-size: var(--size-content);
    color: var(--color-black);
    margin: 10px 0;
}

/* .section_third_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.swiper {
    margin: 20px 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: var(--color-grey);
    padding: 50px;
    border-radius: 50px;
    cursor: grab;
}

.card_heading {
    font-weight: 900;
    font-size: var(--size-small);
    margin: 15px 0;
}

.card_content {
    font-size: var(--size-content);
}

.section_fourth_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_fourth_content {
    color: var(--color-black);
    font-size: var(--size-content);
    text-align: center;
    margin: 20px 0;
}

.section_fourth_video_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-image: url('../img/macbook-air.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em;
}

.video_btn_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--color-orange);
    outline: 10px solid var(--color-orange-alfa);
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;
}

.video_btn_circle.active {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: video infinite alternate-reverse 2s ease-in-out both;
}

.video_btn_circle:active {
    transform: scale(.9);
}

.video_btn_circle_play {
    font-size: var(--size-small);
    color: var(--color-white);
}

.video_content {
    font-size: var(--size-content);
    color: var(--color-white);
}




@keyframes video {
    0% {
        outline: 20px solid var(--color-orange-alfa);
    }

    20% {
        outline: 10px solid var(--color-orange-alfa);
    }

    40% {
        outline: 5px solid var(--color-orange-alfa);
    }

    60% {
        outline: 30px solid var(--color-orange-alfa);
    }

    80% {
        outline: 15px solid var(--color-orange-alfa);
    }

    100% {
        outline: 10px solid var(--color-orange-alfa);
    }
}