@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .2s ease;
    scroll-behavior: smooth;
}

:root {
    /* Color */
    --color-orange: #F15525;
    --color-blue: #38BFF2;
    --color-black: #22253B;
    --color-white: #ffffff;
    --color-line: #DEDEDE;

    /* Font-size */
    --size-big-heading: 46px;
    --size-big: 24px;
    --size-small-heading: 32px;
    --size-content: 13px;
    --size-small: 18px;

    /* Font-weight */
    --weight-default: 400;
    --weight-semi-bold: 600 !important;
    --weight-light: 300;

    /* Font-family */
    --font-main: 'Comfortaa', sans-serif;
}

body {
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 1%;
    margin: 0 auto;
    /* background: var(--color-blue); */
}

.scrolling_line {
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 5px;
    background: var(--color-orange);
}

.blur {
    width: 100%;
    height: 100vh;
    background: #181818;
    z-index: 0;
}

header {
    width: 100%;
    height: auto;
    padding: .75em 0;
    /* background: var(--color-orange); */
    background-image: url('../img/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7.5px);
    border-radius: 75px;
    padding: .75em .50em;
}

.logo {
    font-family: var(--font-main);
    font-size: var(--size-small-heading);
    color: var(--color-black);
    font-weight: 600;
}

.logo span:first-child {
    color: var(--color-blue);
}

.logo span:last-child {
    color: var(--color-orange);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav_item a {
    font-size: var(--size-content);
    font-family: var(--font-main);
    color: var(--color-black);
}

.nav_item a:hover {
    color: var(--color-orange);
}

.log_in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.log_in_item-reg {
    font-size: var(--size-content);
    font-family: var(--font-main);
    color: var(--color-black);
}

.log_in_item-reg:hover {
    color: var(--color-orange);
}

.log_in_item-btn {
    padding: 10px 20px;
    font-size: var(--size-content);
    font-family: var(--font-main);
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 35px;
    cursor: pointer;
}

.log_in_item-btn:hover {
    background: var(--color-orange);
}

.log_in_item-btn:active {
    transform: scale(0.9);
}

.burger {
    display: none;
}

.section_first_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.section_first_left {
    width: 55%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

.section_first_heading {
    font-family: var(--font-main);
    font-size: var(--size-big-heading);
    color: var(--color-black);
    font-weight: 700;
}

.section_first_heading span {
    color: var(--color-orange);
}

.line {
    width: 100%;
    height: 0.5px;
    background: var(--color-line) !important;
    margin: 25px 0;
}

.section_first_content {
    font-family: var(--font-main);
    font-size: var(--size-content);
    color: var(--color-black);
    line-height: 28px;
}

.section_first_btn {
    padding: 20px 40px;
    font-size: var(--size-small);
    font-family: var(--font-main);
    background: var(--color-orange);
    color: var(--color-white);
    border-radius: 35px;
    cursor: pointer;
    margin-top: 20px;
}

.section_first_btn:hover {
    background: var(--color-blue);
}

.section_first_right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_section_right img {
    width: 75%;
    height: auto;
}

.scroll_arrow_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.arrow_circle {
    width: 50px;
    height: 50px;
    background: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.arrow_circle:active {
    transform: scale(0.9);
}

.arrow_circle_icon {
    cursor: pointer;
    font-size: var(--size-content);
    color: var(--color-white);
}