* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
}


.container {
    max-width: 1170px;
    padding: 0 1%;
    margin: 0 auto;
}