* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .3s ease;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
}

.box {
    width: 200px;
    height: 200px;
}

input {
    margin: 100px;
    outline: 1px solid #000;
}