* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .3s ease;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
}