* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    transition: all .3s ease;
}

html {
    overflow: hidden;
}

/* 
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
}

.box {
    width: 200px;
    height: 200px;
}

input {
    margin: 100px;
    outline: 1px solid #000;
} */


.bounds {
    /* border: 5px red solid; */
    width: 100%;
    height: 100%;
}

@keyframes hor-movement {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 75%;
    }
}

@keyframes ver-movement {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: 25%;
    }
}

.image {
    animation-name: hor-movement, ver-movement;
    animation-duration: 3.141s, 1.414s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}