@media screen and (max-width: 1100px) {}

@media screen and (max-width: 1000px) {
    .first_heading {
        flex-direction: column;
    }

    .first_inner_wrapper {
        width: 100%;
        margin: 5px 0;
    }

    .style_icon {
        width: 10%;
    }

    .style_p {
        width: 90%;
    }

    .style_p br {
        display: none;
    }
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 300px) {}