* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #dc143c;
    font-family: monospace;
    border: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1%;
}

[id^='list-'] {
    margin: 20px 0;
}