@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow: hidden;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #8b55e9 0%, #5d6be6 100%);
}

.wrapper {
    position: absolute;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}

.wrapper .menu {
    padding: 10px 13px;
}

.content .item {
    width: 100%;
    font-size: 22px;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px 0 10px;
}

.content .item:hover {
    background: #f2f2f2f2;
}

.content .item span {
    font-size: 19px;
    margin-left: 8px;
}

.content .settings {
    display: flex;
    margin-top: -5px;
    padding: 5px 12px;
    border-top: 1px solid #ccc;
}

.content .share {
    position: relative;
    justify-content: space-between;
}

.share .share_menu {
    position: absolute;
    top: -35px;
    right: -200px;
    background: #ffffff;
    width: 200px;
    border-radius: 10px;
    padding: 13px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    transition: all .3s ease;
}

.share:hover .share_menu {
    opacity: 1;
    pointer-events: all;
}