@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all .1s ease;
    cursor: default;
    scroll-behavior: smooth;
}


:root {
    /* Colors */
    --primary: #414141;
    --secondary: #1bb7e9;
    --main-white: #ffffff;
    --main-yellow: #ffba08;
    --main-red: #C20114;

    /* Font-sizes */
    --content-main: 38px;
    --content-big: 24px;
    --content: 16px;
    --content-small: 14px;
    --content-icon: 18px;

    /* Font-weights */
    --weight-lighter: 300;
    --weight-default: 400;
    --weight-bolder: 500;
    --weight-author: 900;
}

.container {
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background: var(--main-white);
    z-index: 9999;
}

header.active {
    box-shadow: 5px -10px 15px var(--primary);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    cursor: pointer !important;
}

.site_logo {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--weight-lighter);
    color: var(--primary);
    font-size: var(--content-main);
}

.site_logo span {
    font-family: 'Open-sans', sans-serif;
    font-weight: var(--weight-bolder);
    color: var(--secondary);
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav_link {
    font-family: 'Roboto';
    font-size: var(--content);
    font-weight: var(--weight-lighter);
    color: var(--primary);
}

.nav_link_active {
    color: var(--secondary);
    text-decoration: underline;
}

.search_blogs a i {
    font-size: var(--content-big);
    color: var(--primary);
}

.wrapper_icon {
    display: none;
}

.wrapper_icon i {
    font-size: var(--content-big);
    color: var(--primary);
}

.section_blog {
    margin-top: 30px;
}

.blog_header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.blog_header a:first-child {
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
    font-weight: var(--weight-lighter);
    font-size: var(--content-small);
}

.arrow_right {
    color: var(--primary);
    font-size: var(--content-small);
}

.blog_header p:last-child {
    color: var(--secondary);
    font-family: 'Roboto', sans-serif;
    font-weight: var(--weight-lighter);
    font-size: var(--content-small);
    text-decoration: underline;
}

.blogs_wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 20px;
}

.first {
    margin-top: 10px !important;
}

.blog_left {
    width: 35%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.blog_left img {
    width: 100%;
}

.blog_right {
    width: 65%;
    height: auto;
    padding: 10px 20px;
}

.blog_title {
    font-size: var(--content-big);
    font-weight: var(--weight-default);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin-bottom: 15px;
}

.blog_posted_time {
    font-size: var(--content-small);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin-bottom: 5px;
}

.blog_content {
    font-size: var(--content);
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    margin-bottom: 5px;
}

.blog_content span {
    font-weight: var(--weight-bolder);
}

.blog_inner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_author {
    font-size: var(--content);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin-bottom: 5px;
    font-weight: var(--weight-author);
}

.blog_author span {
    font-weight: var(--weight-default);
}

.blog_views {
    font-size: var(--content);
    font-weight: var(--weight-bolder);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    margin-bottom: 5px;
}

.current_blog {
    font-family: 'Poppins', sans-serif;
    text-align: end;
    font-size: var(--content);
    font-weight: var(--weight-lighter);
    color: var(--secondary);
    cursor: pointer;
}

.blog_detail_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.blog_detail_left {
    position: sticky;
    top: 30px;
    left: 0;
    width: 25%;
    padding: 30px 0px;
}

.categories_wrapper {
    padding: 20px 0;
}

.blog_detail_left_header {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    font-size: var(--content-big);
}

.recent_blog {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.recent_blog_left {
    width: 30%;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.recent_blog_right {
    width: 65%;
    height: auto;
}

.recent_blog_right p a {
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
    font-size: var(--content-small);
}

.recent_blog_right p a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

.blog_detail {
    width: 75%;
    height: auto;
}

.blog_detail_title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_detail_title {
    font-size: var(--content-main);
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
}

.vertical_dots {
    font-size: var(--content-big);
    color: var(--primary);
    cursor: pointer;
    z-index: 9999;
}

.blog_detail_vertical_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_detail_edit_remove {
    top: 0px;
    right: 0px;
    position: absolute;
    width: 60px;
    /* background: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
}

.blog_detail_edit_remove.active {
    top: 40px;
    opacity: 1;
}

.blog_detail_edit_remove a i {
    font-size: var(--content-big);
    color: var(--primary);
    cursor: pointer;
}

.blog_detail_edit_icon i:hover {
    color: var(--main-yellow);
}

.blog_detail_remove_icon i:hover {
    color: var(--main-red);
}

/* .blog_detail_content_wrapper {} */

.blog_detail_content_img {
    width: 100%;
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.blog_detail_content_img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog_detail_content_p {
    font-family: 'Poppins', sans-serif;
    font-size: var(--content);
    padding: 15px 0;
    color: var(--primary);
    line-height: 32px;
}

.blog_detail_leave_comment form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
}

.blog_detail_leave_comment form div {
    width: 50%;
}

.blog_detail_leave_comment form input:first-child {
    margin: 0 !important;
}

.blog_detail_leave_comment form input {
    width: 100%;
    padding: 10px 15px;
    margin: 30px 0;
    outline: 1px solid var(--primary);
    color: var(--primary);
    font-size: var(--content-small);
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

.blog_detail_leave_comment form textarea {
    width: 100%;
    height: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--content-small);
    color: var(--primary);
    outline: 1px solid var(--primary);
    resize: vertical;
    padding: calc(0.75em - 1px);
    resize: vertical;
    border-radius: 3px;
    vertical-align: top;
    position: relative;
}

footer {
    width: 100%;
    background: var(--primary);
    padding: 5% 0;
    margin-top: 50px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_wrapper .footer_ul:first-child {
    margin: 0;
}

.footer_wrapper .footer_ul {
    margin-top: 15px;
}

.footer_ul li:first-child {
    font-size: var(--content-icon) !important;
    margin: 0;
}

.footer_ul li {
    font-size: var(--content-small);
}

.footer_ul li {
    margin-top: 12px;
}

.footer_ul li a {
    font-family: 'Poppins', sans-serif;
    color: var(--main-white);
    font-weight: var(--weight-lighter);
}