* {
    scroll-behavior: smooth;
    transition: all .3s ease;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}