@font-face {
    font-family: 'Regular';
    src: url('../Fonts/Poppins-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Regular';
}

:root {
    --main-grey: #11111137; 
    --main-light: #fff;
    --main-dark: #000;
}

.container {
    max-width: 1400px;
    padding: 0 1%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: var(--main-grey);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    color: var(--main-dark);
    font-size: 24px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu li a {
    color: var(--main-dark);
}

.header_btn {
    padding: 10px 20px;
    color: var(--main-dark);
    background: var(--main-light);
    border-radius: 8px;
    cursor: pointer;
}

.section_btn {
    padding: 10px 20px;
    color: var(--main-dark);
    background: var(--main-grey);
    border-radius: 8px;
    cursor: pointer;
}

.section_Second {
    background: var(--main-grey);
}

.section_Second.active {
    background: var(--main-dark);
}

.big {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-dark);
}

.small {
    font-size: 18px;
    color: var(--main-dark);
}

.line {
    width: 300px;
    height: 5px;
    background: var(--main-dark);
    border-radius: 5px;
}

.card_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 250px;
    height: 350px;
    border: 1px solid var(--main-dark);
    border-radius: 10px;
}

.img {
    width: 100%;
    height: 50%;
    background: var(--main-grey);
}

.card_btn {
    padding: 10px 20px;
    color: var(--main-dark);
    background: var(--main-grey);
    border-radius: 8px;
    cursor: pointer;
}

.icons_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.icon {
    width: 50px;
    height: 50px;
    background: var(--main-dark);
    border-radius: 20%;
}

.textLight.active {
    color: var(--main-light) !important;
}