@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary: #5370f0;
    --secondary: #fff;
    --main: #f5f4fd;
    --border-color: #efedfb;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary);
    padding: 0 10px;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    max-width: 1000px;
    background: var(--secondary);
    border-radius: 13px;
    padding: 35px;
}

.wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, var(--secondary) 70%, transparent);
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, var(--secondary) 70%, transparent);
}

.icon i {
    width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
}

.icon i:hover {
    background: var(--border-color);

}

.icon:first-child i {
    margin-left: 15px;
}

.icon:last-child i {
    margin-right: 15px;
}

.wrapper .tabs-box {
    display: flex;
    gap: 12px;
    overflow-x: hidden;
}

.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs-box .tab {
    font-size: 1.18rem;
    background: var(--main);
    white-space: nowrap;
    border: 1px solid var(--border-color);
    padding: 13px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.tabs-box.dragging .tab {
    user-select: none;
    pointer-events: none;
}

.tabs-box .tab.active {
    color: var(--secondary);
    background: var(--primary);
    border-color: transparent;
}