@media screen and (max-width: 1000px) {}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 700px) {
    .header_wrapper {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: row;
    }

    .header_wrapper img {
        width: 50%;
        height: auto;
    }

    .menu {
        display: none;
    }

    .toggleMenu {
        display: flex;
        width: 10%;
    }
}

@media screen and (max-width: 600px) {}